<nav id="navbar" class="container mx-auto px-4 sm:px-5 md:px-6 lg:px-8 py-2 sm:py-2.5 md:py-3">
            <div class="flex justify-between items-center">
                <a href="#hero-comp" class="flex items-center space-x-3 sm:space-x-4 md:space-x-4">
                    <img src="./assets/image.png" alt="RMR Infra & Estates Logo"
                        class="flex-shrink-0 w-12 h-12 sm:w-14 sm:h-14 md:w-16 md:h-16 lg:w-20 lg:h-20 xl:w-20 xl:h-20 object-contain "
                        loading="lazy">
                    <span class="text-gray-900 font-bold text-base sm:text-lg md:text-xl">RMR Infra & Estates</span>
                </a>

                <div class="hidden md:flex items-center space-x-4 lg:space-x-6 xl:space-x-8">
                    <a href="#about"
                        class="text-gray-700 hover:text-cyan-600 transition font-medium text-sm lg:text-base">About</a>
                    <a href="#ventures"
                        class="text-gray-700 hover:text-cyan-600 transition font-medium text-sm lg:text-base">Properties</a>
                    <a href="#contact"
                        class="text-gray-700 hover:text-cyan-600 transition font-medium text-sm lg:text-base">Contact</a>
                    <a href="tel:+917441143143"
                        class="hover:bg-gray-400 hover:text-white text-base px-3 md:px-4 lg:px-6 py-1.5 md:py-2 lg:py-2.5 rounded-xl font-semibold transition text-xs md:text-sm lg:text-base border-2 border-gray-300">
                        Make a Call
                    </a>
                </div>

                <button id="mobileMenuBtn" class="md:hidden text-gray-900 p-2 -mr-2">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>
            </div>

            <div id="mobileMenu" class="hidden md:hidden mt-4 pb-4 space-y-2">
                <a href="#about" class="block text-gray-700 py-2 px-2 hover:text-cyan-600 font-medium">About</a>
                <a href="#ventures" class="block text-gray-700 py-2 px-2 hover:text-cyan-600 font-medium">Properties</a>
                <a href="#contact" class="block text-gray-700 py-2 px-2 hover:text-cyan-600 font-medium">Contact</a>
                <a href="tel:+917441143143"
                    class="block text-base px-4 py-2.5 rounded-xl border-2 border-gray-300 mt-2 text-center font-semibold">Make
                    a Call</a>
            </div>
        </nav>